.MainContainer{
  background-color: #829ed4;
  min-height: 100vh;
  color: white;
}
.leaflet-control-geosearch .results > *{
  line-height: 24px;
    padding: 0 8px;
    border: 1px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: black
}

.PlannerContainer{
  padding: 10px;
  margin: 25px;

  background-color: #FFFFFF;
  border-radius: 10px;
  min-height: 70vh;

  color: black;
}

.inexButton{
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  min-height: 50vh;
  align-items:flex-end;
  justify-content: center;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #829ed4;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    background-color: #829ed4;
}
